@define-color panel-bg #303030;

@define-color wsi-none #404040;
@define-color wsi-active #ffffff;
@define-color wsi-urgent #ffffff;
@define-color wsi-minimised #707070;
@define-color wsi-occupied #aaaaaa;

* {
    background-color: @panel-bg;
}

WorkspaceIndicator {
/*    c-none: @wsi-none;
    c-active: @wsi-active;
    c-urgent: @wsi-urgent;
    c-minimised: @wsi-minimised;
    c-occupied: @wsi-occupied;

    dot-size: 8;*/
}